.loading{
    display: grid !important;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(83, 1vh);
    width: 100vw;
    height: 83vh;
    grid-row: 0;
    grid-column:0;
    background-color: white;
}

@media screen and (min-width: 1025px) {
    
.loadingGif{
    grid-row: 10;
    grid-column:40;
}

}

@media screen and (max-width: 1024px) {
    .loadingGif{
        grid-row: 10;
        grid-column:27;
    }
}

@media screen and (max-width: 768px) {
    .loadingGif{
        grid-row: 10;
        grid-column:20;
    }
}


@media screen and (max-width: 426px) {
    .loadingGif{
        grid-row: 10;
        grid-column:1;
    }
}