.itensMenu{
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(83, 1vh);
    width: 100vw;
    height: 83vh;
    grid-row: 0;
    grid-column:0;
}

.options{
    grid-row: 0 !important;
    grid-column:30;
    justify-content: none !important; 
}

.MuiBottomNavigationAction-root.Mui-selected{
    color: red !important;
}

.menuContent{
    display: grid !important;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(83, 1vh);
    width: 100vw;
    height: 77vh;
    max-height: 77vh;
    grid-row: 30;
    grid-column:0;    
}

.menuItemLeft{
    display: grid !important;
    background-color: white !important;
    grid-template-columns: repeat(90, 1vw);
    grid-template-rows: repeat(77, 1vh);
    width: 40vw;
    height: 77vh;
    grid-row: 0;
    grid-column:7;  
}


.menuItemRight{
    display: grid !important;
    background-color: white !important;
    grid-template-columns: repeat(90, 1vw);
    grid-template-rows: repeat(77, 1vh);
    width: 40vw;
    height: 77vh;
    grid-row: 0;
    grid-column:55;  
    
}

/*Left Item*/
.itemImageLeft{
    grid-row: 3;
    grid-column:6;  
    width: 30vw;
    height: 30vh;
}

.itemNameLeft{
    grid-row: 40;
    grid-column:3; 
    width: 35vw;
    text-align: center;
    color: black;
}

.itemDescriptionLeft{
    grid-row: 47;
    grid-column:3; 
    width: 35vw; 
    color: black;
    text-align: center;
}

.cartButtonLeft{
    grid-row: 70;
    grid-column:9; 
    width: 20vw !important; 
}

/*Right Item*/
.itemImageRight{
    grid-row: 3;
    grid-column:6;  
    width: 30vw;
    height: 30vh;
}

.itemNameRight{
    grid-row: 40;
    grid-column:3; 
    width: 35vw;
    text-align: center;
    color: black;
}

.itemDescriptionRight{
    grid-row: 47;
    grid-column:3; 
    width: 35vw; 
    color: black;
}

.cartButtonRight{
    grid-row: 70;
    grid-column:11; 
    width: 20vw !important
}

.MuiButton-text{
    padding: 15px !important;
}

.Previous{
    grid-row: 40;
    grid-column:2;  
}

.Next{
    grid-row: 40;
    grid-column:96;  
}