.itensOrder{
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(83, 1vh);
    width: 100vw;
    height: 83vh;
    grid-row: 0;
    grid-column:0;
}

.zipCheckOut{
    display: grid !important;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(83, 1vh);
    width: 50vw;
    height: 13vh;
    margin-left: 20px;
}

.zip{
    grid-row: 2;
    width: 10vw;
    grid-column:0;
}


.zipField{
    grid-row: 2;
    min-width: 8vw !important;
    grid-column:6;
}


.btnCalculate{
    grid-row: 2;
    width: 7vw !important;
    grid-column:15;
}

.freight{
    grid-row: 2;
    width: 10vw;
    grid-column:24;
}

.total{
    grid-row: 2;
    width: 10vw ;
    grid-column:79;
}

.btnCheckout{
    grid-row: 2;
    width: 7vw !important;
    grid-column:90;
}
